<!DOCTYPE html>
<html>
<head>
	<title>sol</title>
	<style type="text/css">
		
 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

	</style>
</head>
<body>

<a href="">sol</a>

 <div class="card">
  <img src="https://s7d5.scene7.com/is/image/FreePeople/47561188_060_b?$a15-pdp-detail-shot$&hei=900&qlt=80&fit=constrain" alt="Denim Jeans" style="width:100%">
  <h1>Dr Boots</h1>
  <p class="price">$89.99</p>
  <p>i am cool</p>
  <p><button>Add to Cart</button></p>
</div> 

</body>
</html>